* {
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  width: 99vw;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  z-index: 99;
}

@font-face {
  font-family: primary-font;
  src: url("./../font/Bodoni-MT.TTF");
}
nav {
  width: 50%;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  width: 10%;
  height: 30%;
  text-align: center;
  margin: 1.5% 2%;
  padding: 1%;
  font-size: 1.5rem;
}
nav ul li:focus {
  background: #f7b304;
  color: green;
}
nav ul li:hover {
  background: #4a3103;
}
nav ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #0af5fe;
}

.stickyHeader {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

header {
  color: #00ef49;
  display: flex;
  flex-direction: row;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
header h1 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 24%;
  font-size: 2rem;
  text-align: center;
  width: 20%;
  height: 5vh;
}

.heroSection {
  background-image: url("./../imgs/backgrounds/heroBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.heroMessage {
  display: flex;
  flex-direction: row;
  height: 40vh;
  margin: 0;
  margin-top: 30vh;
  width: 100%;
  z-index: 99;
  font-family: primary-font;
}
.heroMessage .heroMessageContainer {
  margin-left: 5%;
  width: 40vw;
}
.heroMessage .heroMessageContainer p {
  font-size: 4rem;
  margin-top: 20%;
  color: white;
}
.heroMessage .heroMessageContainer p .heroSpanOne {
  color: #00ef49;
}
.heroMessage .heroMessageContainer p .heroSpanTwo {
  color: #f7b304;
}
.heroMessage button {
  background: #4a3103;
  border-radius: 15px;
  box-shadow: -5px 5px darkgreen;
  color: white;
  font-size: 2.5rem;
  height: 10vh;
  margin: 0;
  margin-top: 25vh;
  margin-left: 25vw;
  width: 20vw;
}
.heroMessage button:focus {
  background: #f7b304;
  color: green;
}
.heroMessage button:hover {
  background: #4a3103;
}

.showcaseSection {
  background-image: url("./../imgs/backgrounds/showcaseBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.showcaseSection .headerContainer {
  color: #00ef49;
  font-family: primary-font;
  margin-top: 16vh;
  width: 70vw;
  margin-left: 12vw;
  margin-bottom: 0;
  height: 10vh;
  font-size: 2rem;
}
.showcaseSection .headerContainer .headerQuote {
  margin-left: 5vw;
  color: #fafafa;
  height: 13vh;
}

.showcaseContainer {
  background-color: #4a3103;
  height: 71vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.showcaseContainer .row {
  border-top: 1px solid #00ef49;
  border-bottom: 1px solid #00ef49;
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 99.8%;
  margin: 0;
  padding: 0;
}

.projectThumbLink {
  height: 35vh;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 25%;
}
.projectThumbLink img {
  border: 1px solid #00ef49;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}
.projectThumbLink:hover img {
  opacity: 30%;
}
.projectThumbLink:hover .projectDetails {
  opacity: 100%;
  display: inline;
}
.projectThumbLink .projectDetails {
  display: none;
  background-image: url("./../imgs/gold-foil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92%;
  margin: 0;
  padding: 0;
  width: 18vw;
  position: relative;
  z-index: 99;
  opacity: 50%;
  top: 4%;
}
.projectThumbLink .projectDetails .projectHeader {
  color: #00ef49;
  font-size: 3rem;
  height: 11vh;
  text-align: center;
}
.projectThumbLink .projectDetails .projectHeader span {
  font-size: 2rem;
}
.projectThumbLink .projectDetails .projectHeader:hover {
  opacity: 100%;
}
.projectThumbLink .projectDetails .techBox {
  color: #00ef49;
  font-size: 1.5rem;
  width: 100%;
  height: 50%;
  margin-top: 6%;
}
.projectThumbLink .projectDetails .techBox h3 {
  margin-left: 10%;
  width: 100%;
}
.projectThumbLink .projectDetails .skillBox {
  height: 15vh;
  width: 80%;
  margin-left: 10%;
}
.projectThumbLink .projectDetails .skillBox ul {
  list-style: none;
  margin-left: 4%;
}
.projectThumbLink .projectDetails .skillBox ul li {
  display: inline;
  color: white;
}

.resumeSection {
  background-image: url("./../imgs/backgrounds/resumeBackground.png");
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: #00ef49;
  display: flex;
  flex-direction: column;
}
.resumeSection .resumeContainer {
  width: 100%;
  height: 50%;
  margin: 0;
}
.resumeSection .resumeContainer .resumeIntro {
  background-color: #4a3103;
  font-size: 2.5rem;
  margin: 9% 5vw;
  width: 52vw;
}
.resumeSection .resumeContainer .resumeIntro p {
  margin: 3%;
}
.resumeSection .educationBox {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.resumeSection .educationBox div {
  height: 100%;
  width: 50%;
}
.resumeSection .educationBox div h3 {
  color: #f7b304;
  font-size: 2rem;
  margin: 3%;
}
.resumeSection .educationBox div ol {
  font-size: 1.5rem;
  list-style: none;
  line-height: 200%;
  margin: 0 5%;
  width: 80%;
}
.resumeSection .educationBox div ol .schoolName, .resumeSection .educationBox div ol span {
  color: #0af5fe;
}

.aboutSection {
  background-image: url("./../imgs/backgrounds/aboutBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 99.9%;
}

.aboutContainer {
  color: lightgreen;
  height: 65vh;
  width: 90%;
  margin-top: 25vh;
  margin-left: 5vw;
  margin-right: 3vw;
}
.aboutContainer .aboutIntro {
  font-size: 2.3rem;
  height: 25vh;
  width: 80%;
}
.aboutContainer .aboutIntro p {
  margin-left: 5vw;
  text-align: center;
  color: white;
  line-height: 170%;
}
.aboutContainer .skillContainer {
  display: flex;
  flex-direction: row;
  height: 40vh;
  justify-content: center;
}
.aboutContainer .skillContainer div {
  width: 25%;
}
.aboutContainer .skillContainer div h3 {
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}
.aboutContainer .skillContainer div ul {
  margin: 0 auto;
  width: 60%;
  margin-top: 2%;
  list-style: none;
}
.aboutContainer .skillContainer div ul li {
  font-size: 1.3rem;
  height: 10%;
  text-align: center;
  color: #f7b304;
}

.contactForm {
  font-family: primary-font;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.contactForm h4 {
  font-size: 4rem;
  color: #00ef49;
  margin-left: 3vw;
}
.contactForm div {
  display: flex;
  flex-direction: row;
  height: 20%;
  margin: 1.1% 0;
  width: 100%;
}
.contactForm .messageTypeContainer {
  color: white;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  height: 20%;
  margin: 2% 0;
  width: 100%;
}
.contactForm .messageTypeContainer h5 {
  font-size: 1.4rem;
  text-align: center;
  width: 100%;
  width: 100%;
  margin: 0;
}
.contactForm .messageTypeContainer select {
  background: none;
  color: white;
  width: 30%;
  height: 5vh;
  font-size: 2rem;
  text-align: center;
  margin: 2% auto;
}
.contactForm .messageTypeContainer select:focus {
  background: #f7b304;
  color: green;
}
.contactForm .messageTypeContainer select:hover {
  background: #4a3103;
}
.contactForm fieldset {
  border: none;
  color: white;
  font-size: 1.2rem;
  flex-direction: row;
  height: 100%;
  width: 50%;
}
.contactForm fieldset label {
  font-size: 1.5rem;
  margin: 0 3%;
}
.contactForm fieldset input {
  background: none;
  color: white;
  font-size: 100%;
  height: 5vh;
  margin: 0 2%;
  padding: 0 2%;
  width: 95%;
}
.contactForm fieldset input:focus {
  background: #f7b304;
  color: green;
}
.contactForm fieldset input:hover {
  background: #4a3103;
}
.contactForm textarea {
  background: none;
  color: white;
  font-size: 2rem;
  height: 100%;
  padding: 1%;
  width: 45vw;
}
.contactForm textarea:focus {
  background: #f7b304;
  color: green;
}
.contactForm textarea:hover {
  background: #4a3103;
}
.contactForm button {
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 72%;
  height: 20vh;
  width: 12vw;
}
.contactForm button:hover {
  text-shadow: 1px -1px #0af5fe, 1px -1px #00ef49;
}

.contactSection {
  background-image: url("./../imgs/backgrounds/contactBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contactSection .contactContainer {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 80vh;
  margin: 1%;
  margin-top: 6%;
}
.contactSection .socialMediaContainer {
  border: 1px dashed yellow;
  height: 20vh;
  margin-top: 20%;
  width: 20%;
}
.contactSection .socialMediaContainer ul {
  display: flex;
  flex-direction: row;
}
.contactSection .socialMediaContainer .socialMedia {
  fill: #fff;
  width: 90%;
  color: blue;
  background: green;
  margin: 0;
  padding: 0;
}
.contactSection .socialMediaContainer .socialMedia path {
  fill: white;
}

footer {
  text-align: center;
  height: 3vh;
  font-size: 1.5rem;
}

@media (min-width: 0) and (max-width: 768px) {
  header > h1 {
    width: 40vw;
    border: 1px dashed yellow;
  }
  nav {
    display: none;
  }
  .heroSection {
    height: 100vh;
    width: 99.9%;
  }
  .heroSection .heroMessage {
    flex-direction: column;
    height: 40vh;
    margin-top: 50vh;
    width: 99.5%;
  }
  .heroSection .heroMessage .heroMessageContainer {
    height: 23vh;
    width: 95%;
    margin: 3%;
  }
  .heroSection .heroMessage .heroMessageContainer p {
    font-size: 3rem;
  }
  .heroSection .heroMessage button {
    margin-top: 2%;
    width: 50%;
  }
  .showcaseSection {
    height: auto;
    width: 100%;
  }
  .showcaseSection .headerContainer {
    margin-bottom: 5vh;
  }
  .showcaseSection .showcaseContainer {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .showcaseSection .showcaseContainer .row {
    flex-direction: column;
  }
  .projectThumbLink {
    width: 99.7%;
  }
  .projectThumbLink .projectDetails .projectHeader {
    font-size: 200%;
  }
  .projectThumbLink .projectDetails .projectHeader span {
    color: #f7b304;
  }
  .aboutSection {
    height: 100vh;
  }
  .aboutSection .aboutContainer {
    height: auto;
    margin-top: 6vh;
  }
  .aboutSection .aboutContainer .aboutIntro {
    width: 80vw;
  }
  .aboutSection .aboutContainer .aboutIntro p {
    font-size: 1.5rem;
  }
  .aboutSection .aboutContainer .skillContainer {
    margin-top: 15%;
    height: auto;
  }
  .aboutSection .aboutContainer .skillContainer .skillbox {
    width: 30%;
  }
  .aboutSection .aboutContainer .skillContainer .skillbox h3 {
    font-size: 1.6rem;
  }
  .aboutSection .aboutContainer .skillContainer .skillbox ul > li {
    height: 7.4vh;
  }
  .resumeSection {
    height: auto;
  }
  .resumeSection .resumeContainer .resumeIntro {
    height: 40vh;
    width: 90vw;
    margin: 2% 2vw;
  }
  .resumeSection .resumeContainer .resumeIntro p {
    font-size: 1.9rem;
  }
  .resumeSection .educationBox {
    display: flex;
    flex-direction: column;
  }
  .resumeSection .educationBox div {
    width: 80vw;
    margin: 2% auto;
  }
  .contactSection {
    height: 100vh;
    width: 100vw;
  }
  .contactSection .contactContainer {
    display: flex;
    flex-direction: column;
  }
  .contactSection .contactContainer .contactForm {
    margin: 0 auto;
    width: 90%;
    flex-direction: column;
    justify-content: center;
  }
  .contactSection .contactContainer .contactForm fieldset {
    width: 49%;
    margin: 2%;
  }
  .contactSection .contactContainer .contactForm fieldset input {
    width: 100%;
  }
  .contactSection .contactContainer .contactForm .messageTypeContainer {
    width: 80vw;
  }
  .contactSection .contactContainer .contactForm .messageTypeContainer select {
    width: 60vw;
  }
  .contactSection .contactContainer .contactForm textarea {
    width: 86vw;
    margin: 1% 0.1%;
  }
  .contactSection .contactContainer .contactForm .submitBtn {
    width: 40%;
    margin-left: 55vw;
  }
  .contactSection .contactContainer .socialMediaContainer {
    margin: 5% auto;
    width: 50vw;
  }
}

/*# sourceMappingURL=styles.css.map */
