// Contact Section
.contact-section {
  //border: 1px dashed blue;
  height: 80vh;
  margin: 0 auto;
  padding: 0;

  .contact-header {
    width: 100%;
    margin: 0;
  }
}

h2 {
  //border: 1px dashed green;
  height: 15vh;
  margin: 0 auto;
  font-size: 2rem;

  p {
    font-size: 1.3rem;
  }
}

.form-container {
  //border: 1px dashed pink;
  height: 65vh;
  width: 98%;

  .portfolio-image-holder {
    height: 60vh;
    margin: 2.5%;
    margin-top: 15vh;

    .portfolio-selfie {
      width: 60vw;
      height: 25vw;
      margin: 0 auto;
    }
  }
}

.contact-form {
  color: white;
  background-color: black;
  width: 300px;
  height: 65vh;
  margin-left: 85%;

  label {
    margin: 2%;
    margin-bottom: .5%;
    margin-left: 2%;
    font-size: 1.2em;
  }

  textarea, input {
    width: 95%;
    padding: 2%;
    margin: 2%;
    margin-top: 1%;
  }

  textarea {
    height: 20vh;
  }

  .submitBtn {
    width: 100px;
    height: 50px;
    border-radius: 15% 15%;
    background-color: darkgreen;
    color: white;

    &:hover,
    &:active {
      background-color: green;

    }
  }
}