@use "./variables";
@use "font";
@use "mixins";

.stickyHeader {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

header {
  color: variables.$secondary-color;
  display: flex;
  flex-direction: row;
  height: 8vh;
  // border: 1px dashed red;
  background-color: rgba(0,0,0,0.5);
  margin: 0;

  h1 {
    // border: 1px dashed orange;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 24%;
    font-size: 2rem;
    // border: 1px dashed lightcoral;
    text-align: center;
    width: 20%;
    height: 5vh;
  }
}
