@use "variables";
@use "font";
@use "mixins";

nav {
  // border: 1px dashed yellow;
  width: 50%;

  ul {
    list-style: none;

    li {
      display: inline-block;
      width: 10%;
      height: 30%;
      text-align: center;
      margin: 1.5% 2%;
      padding: 1%;
      font-size: 1.5rem;

      @include mixins.activeElements;

      a{
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: variables.$tertiary-color;
      }
    }
  }
}
