@use "../font";
@use "../variables";
@use "../mixins";

// MOBILE VIEW
@media only screen and (max-width: variables.$mobile-breakpoint) {
  //# Header
  header {
    .headerTitle {
      font-size: 2.5rem;
      text-align: left;
      width: 60vw;
    }

    .mainNav {
      width: 10vw;
      position: absolute;
      right: 2vw;

      ul {
        width: 8vw;
        margin: 0;
        padding: 0;

        .hamburger {
          display: inline-block;
          width: 100%;

          &:hover,
          &:focus {
            li:has(> a) {
              display: flex;
              // visibility: hidden;
              // opacity: 0;
              transition: visibility 0s, opacity 0.5s linear;
            }
          }
          img {
            width: 100%;
            height: 100%;
          }

          .subList {
            margin: 0;
            display: inline-block;
            height: auto;
            top: 5vh;
            right: 0;
            left:-82vw;
            width: 90vw;
            position: absolute;

            li {
              display: none;
              flex-direction: row;
              flex-wrap: wrap;
              height: auto;
              margin: 1% 0;
              width: 100%;
              text-align: center;
              vertical-align: middle;

              a {
                text-align: center;
                width: 100%;

                &:hover,
                &:focus {
                  color: variables.$primary-color;
                  font-weight: 900;
                }
              }
            }
          }
          &:focus,
          &:hover {
            background: variables.$primary-color;
          }
        }
      }

    }
  }

  //# HERO SECTION
  .heroSection {
    height: 100vh;
    width: 99.9%;

    .heroMessage {
      flex-direction: column;
      height: 40vh;
      margin-top: 40vh;
      width: 99.5%;

      .heroMessageContainer {
        height: 23vh;
        width: 95%;
        margin: 3%;

        p {
          font-size: 3rem;
        }
      }
      button {
        margin-top: 2%;
        width: 50%;
      }
    }
  }

  //# Showcase Section
  .showcaseSection {
    height: 100vh;
    width: 100vw;

    .headerContainer {
      margin-bottom: 5vh;
    }

    span{
      font-size: 1.8rem;
    }

    .showcase {
      display: flex;
      flex-direction: flex-start;
      height: 90vh;
      width: 90vw;
      margin: 5vh auto;
      overflow-x: auto;
      align-items: space-around;
      // overflow-y: hidden;

      .projectContainer {
        height: 30vh;
        width: 89vw;
        margin: 2% 0;
      }
    }

    .projectThumbLink {
      width: 99.7%;

      .projectDetails {
        .projectHeader {
          font-size: 100%;

          span {
            color: variables.$primary-color;
          }
        }
      }
    }
  }

  //# About Section
  .aboutSection {
    height: 100vh;

    .aboutContainer {
      height: auto;
      margin-top: 6vh;

      .aboutIntro {
        width: 80vw;

        p {
          font-size: 1.5rem;
        }
      }

      .skillContainer {
        margin-top: 15%;
        height: auto;

        .skillbox {
          h3 {
            font-size: 1.6rem;
          }
          ul > li {
            height: 7.4vh;
          }
          width: 30%;
        }
      }
    }
  }

  //# Resume Section
  .resumeSection {
    height: auto;

    .resumeContainer {
      .resumeIntro {
        height: 40vh;
        width: 90vw;
        margin: 2% 2vw;

        p {
          font-size: 1.9rem;
        }
      }
    }

    .educationBox {
      display: flex;
      flex-direction: column;

      div {
        width: 80vw;

        margin: 2% auto;
      }
    }
  }

  //# About Table
  .aboutContainer {
    display: flex;
    flex-direction: column;

    .aboutIntro {
      height: 25vh;
    }

    table {
      width: 80vw;

      th {
        font-size: 95%;
        text-align: center;
      }
      td {
        font-size: 90%;
      }
    }
  }

  .titleBox{
    width: 50vw; height: 10vh;
    margin-left: 2vw;

    .contactHeader{
      width: 100%;
      margin: 0;
      padding:0;
    }
  }
  //# Contact Form
  .contactInfoBox {
    height: 80vh;
    margin: 0 auto;
    width: 95vw;

    .contactFormBox {
      height: 80%;
      width: 100%;

      form {
        height: 100%;
        margin: 0 auto;
        width: 90%;

        input,
        input:active {
          border: none;
        }

        button {
          border-radius: 12.5px 12.5px;
          width: 80%;
          font-size: 3rem;
        }
      }
    }
  }
}
