@use "../font";
@use "../variables";
@use "../mixins";

@media screen and (max-width: variables.$mobile-breakpoint) {
  //# Hero Section
  header {
    width: 99vw;
    border: 1px dashed yellow;

    .headerTitle {
      font-size: 195%;
      border: 1px dashed red;
      width: 100%;
      margin: 0 1%;
    }

    button, svg{
        display: inline-block;
    }
    
    //# NavLinks li
    li {
      display: none;
    }


  }

  .heroSection {
    height: 100vh;
    width: 99.9%;

    .heroMessage {
      // border: 1px dashed red;
      flex-direction: column;
      height: 40vh;
      margin-top: 50vh;
      width: 99.5%;

      .heroMessageContainer {
        // border: 1px dashed yellow;
        height: 23vh;
        width: 95%;
        margin: 3%;

        p {
          font-size: 3rem;
        }
      }
      button {
        margin-top: 2%;
        width: 50%;
      }
    }
  }

  //# Showcase Section
  .showcaseSection {
    height: 100vh;
    width: 100vw;

    .headerContainer {
      margin-bottom: 5vh;
    }

    .showcase {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 99vw;
      overflow-x: hidden;

      .projectContainer {
        height: 25vh;
        width: 100vw;
      }
    }

    .projectThumbLink {
      width: 99.7%;

      .projectDetails {
        .projectHeader {
          font-size: 100%;

          span {
            color: variables.$primary-color;
          }
        }
      }
    }
  }

  //# About Section
  .aboutSection {
    height: 100vh;

    .aboutContainer {
      // border: 1px dashed white;
      height: auto;
      margin-top: 6vh;

      .aboutIntro {
        width: 80vw;

        p {
          font-size: 1.5rem;
        }
      }

      .skillContainer {
        // border: 1px dashed red;
        margin-top: 15%;
        height: auto;

        .skillbox {
          h3 {
            font-size: 1.6rem;
          }
          ul > li {
            height: 7.4vh;
          }
          width: 30%;
        }
      }
    }
  }

  //# Resume Section
  .resumeSection {
    height: auto;

    .resumeContainer {
      .resumeIntro {
        // border: 1px dashed red;
        height: 40vh;
        width: 90vw;
        margin: 2% 2vw;

        p {
          font-size: 1.9rem;
        }
      }
    }

    .educationBox {
      display: flex;
      flex-direction: column;

      div {
        // border: 1px dashed yellow;
        width: 80vw;

        margin: 2% auto;
      }
    }
  }

  // .contactSection{
  //     height: 100vh;
  //     width: 100vw;

  //     .contactContainer{
  //         display: flex;
  //         flex-direction: column;

  //         .contactForm{
  //             margin: 0 auto;
  //             width: 90%;
  //             flex-direction: column;
  //             justify-content: center;

  //             fieldset{
  //                 width: 49%;
  //                 margin: 2%;

  //                 input{
  //                     width: 100%;
  //                 }
  //             }

  //             .messageTypeContainer{
  //                 width: 80vw;

  //                 select{
  //                     width: 60vw;
  //                 }
  //             }

  //             textarea{
  //                 width: 86vw;
  //                 margin: 1% .1%;
  //             }
  //             .submitBtn{
  //                 width: 40%;
  //                 margin-left:55vw;
  //             }

  //         }

  //         .socialMediaContainer{
  //             margin: 5% auto;
  //             width: 50vw;

  //         }
  //     }

  // }

  //# About Table
  .aboutContainer {
    display: flex;
    flex-direction: column;

    .aboutIntro {
      border: 1px dashed white;
      height: 25vh;
    }

    table {
      width: 80vw;

      th {
        font-size: 95%;
        text-align: center;
      }
      td {
        font-size: 90%;
      }
    }
  }

  //# Contact Form
  .contactInfoBox {
    height: 80vh;
    margin: 0 auto;
    width: 95vw;

    .contactFormBox {
      height: 80%;
      width: 100%;

      form {
        height: 100%;
        margin: 0 auto;
        width: 90%;

        input,
        input:active {
          border: none;
        }

        button {
          width: 80%;
          font-size: 95%;
        }
      }
    }
  }
}
