@use "font";
@use "variables";
@use "mixins";

//# Contact FORM
.contactForm {
  @include font.primary-font;
  // border: 1px dashed lightgreen;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  h4 {
    font-size: 4rem;
    color: variables.$secondary-color;
    margin-left: 3vw;
  }

  div {
    // border: 1px dashed orange;
    display: flex;
    flex-direction: row;
    height: 20%;
    margin: 1.1% 0;
    width: 100%;
  }

  .messageTypeContainer {
    // border: 1px dashed red;
    color: white;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    height: 20%;
    margin: 2% 0;
    width: 100%;

    h5 {
    //   border: 1px dashed yellow;
      font-size: 1.4rem;
      text-align: center;
      width: 100%;
      width: 100%;
      margin: 0;
    }

    select {
      background: none;
      color: white;
      width: 30%;
      height: 5vh;
      font-size: 2rem;
      text-align: center;
      margin: 2% auto;

      @include mixins.activeElements;
    }
  }

  fieldset {
    border: none;
    // border: 1px dashed red;
    color: white;
    font-size: 1.2rem;
    flex-direction: row;
    height: 100%;
    width: 50%;

    label {
      font-size: 1.5rem;
      margin: 0 3%;
      // padding: 0 2%;
    }
    input {
      background: none;
      color: white;
      font-size: 100%;
      height: 5vh;
      margin: 0 2%;
      padding: 0 2%;
      width: 95%;

      @include mixins.activeElements;
    }
  }

  textarea {
    background: none;
    color: white;
    font-size: 2rem;
    height: 100%;
    padding: 1%;
    width: 45vw;
    @include mixins.activeElements;
  }

  button {
    background: none;
    border: none;
    color: white;
    font-size: 3rem;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 72%;
    height: 20vh;
    width: 12vw;
    // @include mixins.activeElements;
    
    &:hover{
      text-shadow: 1px -1px variables.$tertiary-color,  1px -1px variables.$secondary-color;

    }
  }
}
