@use "variables";
@use "font";
@use "mixins";


//Nav
.mainNav {
  color: variables.$tertiary-color;
  width: 70vw;
  margin: 0 5vw;
  height: 5vh;

  .hamburger {
    display: none;
    width: 3vw;
    height: 5vh;

    img{
      width: 3vw;
      height: 5vh;
      background-color: variables.$primary-color;
      // color: blue;
      margin: 0;padding: 0;
    }
  }

  ul {
    height: 90%;
    margin: 1vh 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-items: center;

    li {
      background: rgba(0, 0, 0, 0.5);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 0.5px solid variables.$fifth-color;
      border-radius: 10px;
      color: variables.$fifth-color;
      font-size: 1.6rem;
      justify-items: space-around;
      margin: 0 .5vw;
      text-decoration: none;
      text-align: center;
      padding: 1%;
      width: 25%;

      @include mixins.buttonOutlineAnimation;

      &:hover{

          border: 2px solid variables.$primary-color;
          background-color: variables.$fourth-color;
          background: rgba(247, 179, 4, 0.7);
          color: variables.$primary-color ;
      }

      &:focus{
          background-color: variables.$primary-color;
      }
    }
  }
}

.navLink {
  text-decoration: none;
  color: variables.$fourth-color;

  background: transparent;

  &:active {
    color: rgba(0, 0, 0, 0);
  }
}



.currentPage{
    color: variables.$primary-color;
    text-shadow: -1px 2px variables.$tertiary-color, -4px 4px variables.$fifth-color;
}