  .pOne{
    background-image: url('./../../imgs/project-thumbs/AppTheme_thumb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pTwo{
    background-image: url('./../../imgs/project-thumbs/ACME_thumbnail.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pThree{
    background-image: url('./../../imgs/project-thumbs/MassageByTia_thumb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pFour{
    background-image: url('./../../imgs/project-thumbs/DayCare_thumb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pFive{
    background-image: url('./../../imgs/project-thumbs/Girl_Scouts_Form_thumb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .pSix{
    background-image: url('./../../imgs/project-thumbs/Tip_Calc_thumbnail.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pSeven{
    background-image: url('./../../imgs/project-thumbs/OMNIFOOD_thumb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pEight{
    background-image: url('./../../imgs/project-thumbs/Fudi_thumb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }