@use "./../components/variables";
@use './../components/mixins';

.projectContainer {
  justify-self:center;
  width: 25%;
  height: 30vh;
  margin: 0;
  padding: 0;



  .projectBox {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;

    &:hover {
        @include mixins.projectOutlineAnimation;

      .projectData {
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;

        color: variables.$primary-color;
      }
    }
  }
}

.projectData {
  width: 100%;
  height: 100%;
  display: none;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);

  .projectBasicData {
    height: 25%;

    h2 {
      color: variables.$fourth-color;
      font-weight: 700;
      height: 50%;
      margin: 0;
    }
    h3 {
      color: variables.$fifth-color;
      margin: 0, auto;
      width: 100%;
      height: 5%;
      text-align: center;
    }
  }
  .projectTechData {
    margin: 0;
    height: 50%;
    margin-bottom: 0;

    h4 {
      color: variables.$fourth-color;
      font-weight: 700;
    }

    .gLink {
        border: 1px dashed white;
        width: 100%;
      text-align: center;
      &:hover {
        color: variables.$fifth-color;
      }
    }
  }
  .techTypes {
    font-size: 1.2rem;
    color: variables.$tertiary-color;
  }
}



@media screen and (max-width: variables.$mobile-breakpoint) {

  .projectBox{
    width: 100%;
  }

  
}

@media screen and (max-width: variables.$tablet-breakpoint) {



}