@use "font";
@use "mixins";
@use "variables";

.showcaseSection {
  background-image: url("./../imgs/backgrounds/showcaseBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .headerContainer {
    color: variables.$secondary-color;
    @include font.primary-font;
    margin-top: 16vh;
    width: 70vw;
    margin-left: 12vw;
    margin-bottom: 0;
    height: 10vh;
    font-size: 2rem;

    .headerQuote {
      margin-left: 5vw;
      color: variables.$fourth-color;
      height: 13vh;
    }
  }
}


.showcaseContainer {
  background-color: variables.$fifth-color;
  height: 71vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  .row {
    border-top: 1px solid variables.$secondary-color;
    border-bottom: 1px solid variables.$secondary-color;
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 99.8%;
    margin: 0;
    padding: 0;
  }
}

.projectThumbLink {
  height: 35vh;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 25%;

  img{
      border: 1px solid variables.$secondary-color;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      position: absolute;

  }
    &:hover{
        img{
            opacity: 30%;

        }

        .projectDetails{
            opacity: 100%;
            display: inline;
        }
    }
  




  .projectDetails{
    // color: white;
    display:none;
    // background: blue;
    background-image: url('./../imgs/gold-foil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 92%;
    margin: 0;
    padding: 0;  
    // border: 1px dashed orange;
    width: 18vw;
    position: relative;
    z-index: 99;
    opacity: 50%;
    top: 4%;

    .projectHeader{
        color: variables.$secondary-color;
        // border: 1px dashed white;
        font-size: 3rem;
        height: 11vh;
        text-align: center;

        span{
            font-size: 2rem;
        }

        &:hover{
            opacity: 100%;
        }
    }

    .techBox{
        color: variables.$secondary-color;
        font-size: 1.5rem;
        // border: 1px dashed red;
        width: 100%;
        height: 50%;
        margin-top: 6%;
        h3{
            margin-left: 10%;
            width: 100%;
        }
    }

    .skillBox{
        // background: black;
        height: 15vh;
        width: 80%;
        margin-left: 10%;

        ul{
            list-style: none;
            margin-left: 4%;
            
            li{
                display: inline;
                color: white;
            }
        }
    }

  }
}
