
// color scheme
$primary-color: rgba(0, 241, 74, 1);
$secondary-color: #4a3103;
$tertiary-color: #fff;
$fourth-color: rgba(247, 179, 4, 0.7);
$fifth-color: rgba(10, 245, 254, 1);

//Views
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1086px;

