@use "../font";
@use "../variables";
@use "../mixins";

.showcaseSection {
  .section {
    background: variables.$secondary-color;
    height: 20vh;
    margin: 2vh 0;

    h2 {
      margin: 2vh 2vw;
    }

    p {
      width: 50vw;
      margin: 0 3vw;
      border: 1px dashed yellow;
    }
  }
}
.skillsSection {
  height: auto;

  .skillTable {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    box-align: center;
    text-align: center;
    margin: 0 auto;

    th, .subCategory {
      border: 2px solid variables.$primary-color;
      color: variables.$fourth-color;
      height: 10vh;
      width: 100%;
      background: variables.$secondary-color;
      font-size: 2rem;
      margin-bottom: 2vh;
    }

    tr {
      border: 1px solid variables.$primary-color;
      height: 12%;
      width: 100%;
      margin: 0.5% 0;
      display: flex;
      flex-direction: row;

      td {
        background-color: variables.$fourth-color;
        border: 1px solid variables.$primary-color;
        color: variables.$secondary-color;
        font-size: 1.4rem;
        padding: auto;
        text-align: center;
        height: 100%;
        width: 50%;
        margin: 0;

        span {
          font-size: 0.8rem;
          color: variables.$primary-color;
        }
      }
    }
  }
}
